
.eventCard{
    border-radius: .6rem;
    padding: 1rem;
    border: 1px solid #ddd;
    margin: .5rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position:center center ;
    background-repeat:no-repeat ;
    flex-wrap: wrap;
    
}
.eventCard:link, .eventCard:visited, .eventCard:active{
    text-decoration: none;
}

.eventCard img{
    margin: auto;
    display: cover;
    width: 400px;
    height: auto;
    // border-radius: 50%;
}

@media screen and (max-width:900px) {
    .eventCard img{
        width: 311px;
    }
}