.kaleidoscope {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

#hero-section {
  position: relative;
  .hero-container {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 15rem;
      color: #292929;
    }
    .register-btn {
      font-size: 2rem;
    }
    .mentor-btn {
      font-size: 1.5rem;
    }
  }
}
#devfolio-apply-now {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #3770ff;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  text-transform: lowercase;
}

#devfolio-apply-now:not([disabled]) {
  cursor: pointer;
}

#devfolio-apply-now:hover {
  background-color: #2954bf !important;
}

.sponsors .sponsor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.sponsorCard {
  margin: 0 2rem;
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsorCard img {
  height: 80%;
  width: auto;
  border-radius: 1rem;
}

.communityCard {
  margin: 1rem 2rem;
  height: 15rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.communityCard img {
  height: 80%;
  width: auto;
  border: 2px dashed white;
  border-radius: 1rem;
}

#participant-name {
  background: #eee;
  border: 2px dashed #3f51b5;
}
#participant-name-label {
  background: #3f51b5;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  transform: translate(10px, -8px);
}

#photobooth-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 980px) {
  .sponsors .sponsor-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  #photobooth-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  #hero-section {
    .hero-container {
      h1 {
        font-size: 7rem;
      }
      .register-btn {
        font-size: 1rem;
      }
      .mentor-btn {
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  #hero-section {
    .hero-container {
      h1 {
        font-size: 10rem;
      }
      .register-btn {
        font-size: 1.5rem;
      }
      .mentor-btn {
        font-size: 1rem;
      }
    }
  }
}

.temp-video {
  // position: absolute;
  width: 100%;
  max-height: 40rem;
  opacity: 0.15;
  z-index: -1;
  .planning {
    // width:100%;
    display: block;
    margin: 0 auto 0 auto;
    max-height: 40rem;
  }
}

.vertical-timeline-element-date {
  color: black;
}

.vertical-timeline-element-content {
  border-radius: 7px;
}

.dark-timeline .vertical-timeline-element-date {
  color: white;
}
