@font-face {
  font-family: "dsc-font";
  src: url("./fonts/dsc-font.woff2") format("woff2");
}

@font-face {
  font-family: "box-on-box";
  src: url("./fonts/boxonbox.woff2") format("woff2");
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.navbar {
  padding: 0.25rem 1rem;
  background-color: white !important;
  position: fixed !important;
  top: 0;
}

.dsc-logo {
  width: 3rem;
  cursor: pointer;
}

.dsc-logo-text {
  color: #6f7277;
  font-family: "dsc-font";
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.dsc-college-name {
  font-weight: 600;
}

.first-image {
  width: 100%;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.dsc-font {
  font-family: "dsc-font" !important;
  margin: 1rem 0 !important;
}

.box-font {
  font-family: "box-on-box" !important;
  margin: 1rem 0 !important;
}

.nav-icons {
  display: block !important;
  margin: 5rem auto !important;
}

.section-2-paper,
.darken {
  padding: 1rem 2rem;
}

.section-2-paper p {
  font-family: "dsc-font" !important;
  margin: 1rem 0;
}

.section-2-paper button {
  color: white;
  background: rgb(52, 109, 241);
  border: 2px solid rgb(52, 109, 241);
}

.section-2-paper button:hover {
  color: white;
  background: rgb(28, 85, 218);
  border: 2px solid rgb(28, 85, 218);
}

.color-primary {
  color: #4285f4;
}

.color-warning {
  color: #ffba00;
}

.color-danger {
  color: #fe2c25;
}

.color-success {
  color: #00a050;
}

.section-4 img {
  display: block;
  width: 25%;
  margin: auto;
}

.social-icon {
  width: 3rem !important;
  margin: 1rem !important;
}

.vertical-timeline::before {
  background: #535353 !important;
}

.top-bar {
  position: fixed;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.bg-success {
  background-color: rgba(11, 184, 83, 0.15);
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
}

.bg-danger {
  background-color: rgba(223, 77, 19, 0.15);
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
}

.bg-warning {
  background-color: rgba(247, 212, 17, 0.15);
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
}

.bg-primary {
  background-color: rgba(12, 80, 182, 0.15);
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
}

.slider-img {
  width: 15rem;
}

.card-img {
  min-height: 270px;
  width: 100%;
  object-fit: contain;
}

.member-card img {
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  object-fit: cover;
}

.member-card {
  padding: 3rem;
}

.member-card p,
h3 {
  text-align: center;
}

.section-2-paper button {
  margin: auto;
  margin-bottom: 0.5rem;
}

.csj-bg {
  width: 100%;
}

.carousel {
  width: 100%;
}

.landing-card {
  display: flex;
  flex-direction: column;
  min-height: 37rem;
}

.landing-card > button {
  flex-grow: 1;
}

#carousel-img {
  object-fit: contain;
}

.faq-section {
  margin-top: 5rem;
}

/* .hackheist img {
  width: 40%;
  display: block;
  position: absolute;
}

.hackheist {
  background-color: #1fc8db;
  background-image: linear-gradient(
    141deg,
    #9fb8ad 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  );
} */

@media only screen and (max-width: 600px) {
  .section-4 img {
    display: block;
    width: 100%;
    margin: auto;
  }

  .card-img {
    min-height: auto;
  }
}
